html{
    font-size: 28px;
}
div{

    margin: 10px;
    display:block;
    min-height: 150px;
    transition: 1s;


}
h1,h2,h3{
    margin: 0;
}
h1,h2{

    font-family: 'Roboto', sans-serif;

}
div:nth-child(odd){
    width: 75%;

}
div:nth-child(even){
    width: 50%;

}

.one{
    background: #55B3B9;
    padding-left: 10px;
    padding-top: 10px;
}
.two{
    background: #C56060;
    color: rgba(34, 34, 34, 0.69);
    padding-left: 10px;
    padding-top: 10px;
}
.three{
    background: #8FC091 ;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);
}
.four{
    background: #8F86AF;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration:line-through;
    color: rgba(46, 46, 46, 0.42);
}

h1{
    font-size: 2rem;
    font-weight: 900;

}
h1:hover{
    font-size: 4rem;
}
h2{
    font-weight: 500;
    font-size: 1.5rem;
}

h2:hover, .four h2:hover{
    font-size: 3rem;
}

 h3{
     font-family: 'Sail', cursive;
     font-size: 1rem;
 }
 h3:hover, .four h3:hover{
     font-size: 2rem;
 }

 .three h2{
     font-size: 1.1667rem;
 }

.three h2:hover{
    font-size: 2.3334rem;
}

 .three h3{
     font-size: 0.57rem;
     text-decoration: underline;
 }
.three h3:hover{
    font-size: 1.14rem;
}

 .four h2{
     font-size:1.5rem;
 }
 .four h3{
     font-size: 1rem;
 }
